@import url('https://fonts.googleapis.com/css2?family=Actor&family=Khula:wght@300&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body {
    background: #121212;
    font-family: 'Actor', sans-serif;
}

/* small res */

a {
    text-decoration: none;
    color: rgb(230, 229, 241);
    font-size: smaller;
    font-weight: bold;
    text-shadow: 0 0 10px aqua;
    animation: glowing1 2s linear infinite;
}

.glow-text {
    color: white;
    text-shadow: 0 0 10px white;
    animation: glowing1 2s linear infinite;
}
@keyframes glowing1 {
    0% {
        text-shadow: 0 0 10px aqua;
    }
    50% {
        text-shadow: 0 0 20px aqua;
    }
    100% {
        text-shadow: 0 0 10px aqua;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    border: 2px solid aqua;
    box-shadow: 10 10 10px rgba(255, 255, 255, 0.7);
    animation: glowing 2s linear infinite;
}

.glow-border {
    border: 2px solid transparent;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    animation: glowing 2s linear infinite;
}
@keyframes glowing {
    0% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }
    50% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
    }
    100% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }
}

.logo {
    font-size: 1.2rem;
    color: aqua;
    padding-left: 20px;
}

.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 3px;
    margin-bottom: 10px;
    background-color: rgb(230, 229, 241);
}

.nav__link {
    position: fixed;
    width: 94%;
    top: 5rem;
    left: 18px;
    background-color: grey;
    z-index: 2000;
}

.nav__link a {
    display: block;
    text-align: center;
    padding: 10px 0;
}

.hide {
    display: none;
}

/* large res */
@media screen and (min-width: 768px) {
    .nav__link {
        display: block;
        position: static;
        width: auto;
        margin-right: 20px;
        background: none;
    }

    .nav__link a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
    }
}

#search {

    width: 15px;
    height: auto;
}

/* .navbar form {
    float: left;
    margin-top: 10px;
    margin-right: 16px;
}*/

.navbar input[type=text] {
    padding: 3px;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
}

.navbar button {
    cursor: pointer;
}

/* ----------------------------------------------- */
/*  content  */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr {
    width: 90%;

}

/* header and desc */
.headerdiv {
    border: 2px solid #c5c6c7;
    background-color: transparent;
    width: fit-content;
    padding: 20px;
    border-radius: 20px;
    margin: 50px 50px 10px 50px;
}

.header {
    color: #66fcf1;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.description {
    width: 65%;
    justify-content: center;
}

.description p {
    font-size: 0.72rem;
    justify-content: center;
    text-align: center;
    color: #c5c6c7;
}

/* mission */
.mission-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 70%;
}

.mission-title {
    border: 1px solid #c5c6c7;
    width: fit-content;
    padding: 15px;
    border-radius: 15px;
    margin: 30px 50px 10px 50px;
    align-self: center;
}

.mission-title h2 {
    font-size: 1.2rem;
    color: #45a29e;
}

.mission-div .description {
    width: 70%;
    justify-content: center;
    align-self: center;
}

.mission-div .description p {
    font-size: 0.78rem;
    justify-content: center;
    text-align: center;
    color: #c5c6c7;
}

/* future vision */
.futureplan-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 70%;
}

.plan-title {
    border: 1px solid #c5c6c7;
    width: fit-content;
    padding: 15px;
    border-radius: 15px;
    margin: 50px 50px 10px 50px;
    align-self: center;
}

.plan-title h2 {
    font-size: 1.2rem;
    color: #45a29e;
}

.futureplan-div .description {
    width: 70%;
    justify-content: center;
    align-self: center;
}

.futureplan-div .description p {
    font-size: 0.78rem;
    justify-content: center;
    text-align: center;
    color: #c5c6c7;
}

/* members */

.members {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title-members {
    border: 1px solid #c5c6c7;
    width: fit-content;
    padding: 15px;
    border-radius: 15px;
    margin: 50px 50px 10px 50px;
    align-self: center;
}

.title-members h2 {
    font-size: 1.2rem;
    color: #45a29e;
}

.col {
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    width: 70%;
    align-items: center;
}

.col h3 {
    font-size: 1.2rem;
    color: rgb(40, 140, 130);
}

.col p {
    font-size: 0.8rem;
    color: #c5c6c7;
}

.col img {
    width: 20%;
    height: auto;
    border: 3px solid #1f2833;
    border-radius: 50px;
    margin-right: 20px;
}

/* ----------------------------------------------- */
/* footer */
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
footer p {
    color:#66fcf1;
    font-size: 10px;
}
