@import url('https://fonts.googleapis.com/css2?family=Actor&family=Khula:wght@300&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body {
    background: #121212;
    font-family: 'Actor', sans-serif;
}

/* small res */

a {
    text-decoration: none;
    color: rgb(230, 229, 241);
    font-size: smaller;
    font-weight: bold;
    text-shadow: 0 0 10px aqua;
    animation: glowing1 2s linear infinite;
}

.glow-text {
    color: white;
    text-shadow: 0 0 10px white;
    animation: glowing1 2s linear infinite;
}
@keyframes glowing1 {
    0% {
        text-shadow: 0 0 10px aqua;
    }
    50% {
        text-shadow: 0 0 20px aqua;
    }
    100% {
        text-shadow: 0 0 10px aqua;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    border: 2px solid aqua;
    box-shadow: 10 10 10px rgba(255, 255, 255, 0.7);
    animation: glowing 2s linear infinite;
}

.glow-border {
    border: 2px solid transparent;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    animation: glowing 2s linear infinite;
}
@keyframes glowing {
    0% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }
    50% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
    }
    100% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }
}

.logo {
    font-size: 1.2rem;
    color: aqua;
    padding-left: 20px;
}

.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 3px;
    margin-bottom: 10px;
    background-color: rgb(230, 229, 241);
}

.nav__link {
    position: fixed;
    width: 50%;
    top: 5rem;
    right: 18px;
    background-color: black;
    z-index: 2000;
    
}

.nav__link a {
    display: block;
    text-align: center;
    padding: 10px 0;
}

.hide {
    display: none;
}

/* large res */
@media screen and (min-width: 768px) {
    .nav__link {
        display: block;
        position: static;
        width: auto;
        margin-right: 20px;
        background: none;
    }

    .nav__link a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
    }
}

#search {

    width: 15px;
    height: auto;
}

/* .navbar form {
    float: left;
    margin-top: 10px;
    margin-right: 16px;
}*/

.navbar input[type=text] {
    padding: 3px;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
}

.navbar button {
    cursor: pointer;
}

/* ----------------------------------------------- */
/*  content  */
/* search/filter bar */

.searchitem {
    display: flex;
    position: absolute;
    transform: translate(-12.9%, -90%);
    
}

.form {
    display: flex;
    padding: 40px;
    gap: 20px;
    margin-left: 100 auto;
}

.searchinput {
    font-size: small;
    height: 30px;
}

button.submit {
    font-size: 15px;
    padding: 4px;
}

/* table */

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 85%;
    background-color: #0b0c10;
    min-height: 300px;
    margin: 0 auto;
    border: 1px solid #1f2833;
    position: absolute;
    transform: translate(9%, 30%);
    /* box-shadow: 15px 15px 30px rgba(91, 239, 215, 0.2),
    -10px -10px 20px rgba(102, 252, 241, 0.3); */
}

table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;

}

thead {
    background-color: #f5f5f5;
    color: aqua;

}

td, th {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    color: #45a29e;

}

/* ----------------------------------------------- */
/* --footer--*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

footer p {
    color: #66fcf1;
    font-size: 10px;
}
