@import url('https://fonts.googleapis.com/css2?family=Actor&family=Khula:wght@300&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body {
    background: #121212;
    font-family: 'Actor', sans-serif;
}

/* small res */

a {
    text-decoration: none;
    color: rgb(230, 229, 241);
    font-size: smaller;
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.logo {
    font-size: 1.2rem;
    color: aqua;
    padding-left: 20px;
}

.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 3px;
    margin-bottom: 10px;
    background-color: rgb(230, 229, 241);
}

.nav__link {
    position: fixed;
    width: 94%;
    top: 5rem;
    left: 18px;
    background-color: grey;
    z-index: 2000;
}

.nav__link a {
    display: block;
    text-align: center;
    padding: 10px 0;
}

.hide {
    display: none;
}

/* large res */
@media screen and (min-width: 768px) {
    .nav__link {
        display: block;
        position: static;
        width: auto;
        margin-right: 20px;
        background: none;
    }

    .nav__link a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
    }
}

#search {

    width: 15px;
    height: auto;
}

/* .navbar form {
    float: left;
    margin-top: 10px;
    margin-right: 16px;
}*/

.navbar input[type=text] {
    padding: 3px;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
}

.navbar button {
    cursor: pointer;
}


/* ----------------------------------------------- */
/*  content  */
.card {
    flex-direction: column;
    min-height: 250px;
    background: #121212;
    width: 80%;
    /* box-shadow: 15px 15px 30px rgba(91, 239, 215, 0.2),
        -15px -15px 30px rgba(102, 252, 241, 0.3); */
}

h1 {
    color: aqua;
    margin-top: 80px;
    margin-bottom: 10px;
    font-size:smaller;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

hr{
    display: flex;
    height: 2px;
    width: 100%;
    background-color: #45a049;
    justify-content: center;
    align-items: center;
    align-self: center;
}


/* ---file drop--- */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.file-drop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed rgb(230, 229, 241);
    border-radius: 10px;
    width: 60%;
    height: 200px;
    margin: 50px auto;
    font-size: 20px;
    line-height: 200px;
}

.button-file {
    display: block;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    position: absolute;
    bottom: 40px;
    left:50%;
    transform: translate(-30%, 0);
    align-self: center;
    width: 200px;
    height: 200px;
}

.drop-label {
    display: flex;
    transform: translateY(-70%);
    color: rgb(230, 229, 241);
}

.drop-label-child {
    transform: translate(-50px, 50px);
}

.drop-input input[type="file"] {
    display: none;
}


.camera-function {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

#video {
    width: 100%;
    max-width: 640px;
    height: auto;
    border: 1px solid #ccc;
}

#capture {
    background-color: #45a049;
    border: none;
    color: #f5f5f5;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
}

#image-preview {
    height: 400px;
  }

.preview-container {
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; /* Set the desired height */
  }  

#canvas {
    display: block;
    max-width: 640px;
    height: auto;
    margin-top: 20px;
    border: 1px solid #ccc;
    transform: translatey(-245px);
}

#convert-btn{
    background-color: #45a29e;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  #convert-btn:hover,
  #convert-btn:focus {
    background-color: #45a049;
  }

/* --footer--*/
footer{
    display: flex;
    justify-content: center;
}
footer p {
    color:#66fcf1;
    font-size: 10px;
}
