@import url('https://fonts.googleapis.com/css2?family=Actor&family=Khula:wght@300&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    /* font-family: 'Caladea' serif; */
}

body {
    background: #0c1c1c;
    font-family: 'Actor', sans-serif;
}

/* small res */

a {
    text-decoration: none;
    color: rgb(230, 229, 241);
    font-size: smaller;
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4.5px;
    background-color: #121212;
}

.logo {
    padding-left: 20px;
}

.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 3px;
    margin-bottom: 10px;
    background-color: rgb(230, 229, 241);
}

.nav__link {
    position: fixed;
    width: 94%;
    top: 5rem;
    left: 18px;
    background-color: grey;
    z-index: 2000;
}

.nav__link a {
    display: block;
    text-align: center;
    padding: 10px 0;
}

.hide {
    display: none;
}

/* Reduce the size of the carousel */
.carousel {
    height: 200px;
}

/* Reduce the font size for smaller screens */
.main-heading {
    font-size: 2rem;
}

/* large res */
@media screen and (min-width: 768px) {
    .nav__link {
        display: block;
        position: static;
        width: auto;
        margin-right: 20px;
        background: none;
    }

    .nav__link a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
    }

    .main-heading {
        padding-top: 0.5rem;
    }
}

/* ----------------------------------------------- */
/* search */
#search {

    width: 15px;
    height: auto;
}

.navbar input[type=text] {
    padding: 3px;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
    width: 190px;
}

.navbar button {
    cursor: pointer;
}

/* -------------------------------------------------------------------------------------------------- */
/* header */
.header{ 
    /* border: solid red; */
    text-align: center;
    background-color: #055353;
}
.main-heading {
    color: #66fcf1;
    /* color: #043c3c; */
    padding: 1.5rem 0 0rem 0;
    text-transform: uppercase;
    font-weight: bolder;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
}

.main-description {
    padding-bottom: 2rem;
    font-size: smaller;
    /* color: #121212; */
    color: rgb(230, 229, 241);
}

.header p {
    font-size: 15px;
    color: rgb(206, 205, 219);
    padding-bottom: 40px;
    font-weight: bold;
    font-family: 'Khula', sans-serif, serif;
}

/* --footer--*/
footer {
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0c1c1c;

}

footer p {
    color: #66fcf1;
    font-size: 10px;
}

/* -------input-------- */
.container {
    display: flex;
    justify-self: center;
    justify-content: center;
    padding: 40px;
    /* border: solid red; */
    background-color: #0c1c1c;
} 

.card {
    /* border: solid green; */
    padding-top: 10px;
    width: 100%;
    min-height: 300px;
    
}

/* --------------file drop----------- */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop-area {
    border: solid #143434;
    background-color: #143434;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(65,212,207,0.2);
}

.preview-container {
    /* border: solid green; */
    border-radius: 10px;
}

.file-drop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed rgb(230, 229, 241);
    border-radius: 10px;
    width: 60%;
    height: 200px;
    margin: 50px auto;
    font-size: 20px;
    line-height: 200px;
}

.button-file {
    display: block;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    position: absolute;
    bottom: 40px;
    left:50%;
    transform: translate(-30%, 0);
    align-self: center;
    width: 200px;
    height: 200px;
}

.drop-label {
    display: flex;
    transform: translateY(-70%);
    color: rgb(230, 229, 241);
}

.drop-label-child {
    transform: translate(-50px, 50px);
}

.drop-input input[type="file"] {
    display: none;
}


.camera-function {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

#video {
    width: 100%;
    max-width: 640px;
    height: auto;
    border: 1px solid #ccc;
}

#capture {
    background-color: #45a049;
    border: none;
    color: #f5f5f5;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
}

#image-preview {
    height: 400px;
  }

.preview-container {
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; /* Set the desired height */
  }  

#canvas {
    display: block;
    max-width: 640px;
    height: auto;
    margin-top: 20px;
    border: 1px solid #ccc;
    transform: translatey(-245px);
}

#convert-btn{
    background-color: #45a29e;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  #convert-btn:hover,
  #convert-btn:focus {
    background-color: #45a049;
  }

/* ----------------------------------------------- */
/* chatbox */
.open-button {
    background-color: aqua;
    color: white;
    padding: 1px 10px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 80px;
    border-radius: 100px;
  }

  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid rgb(230, 229, 241);
    z-index: 3000;
  }

   /* Add styles to the form container */
   .form-container {
    max-width: 300px !important;
    padding: 10px !important;
    background-color: rgb(33, 32, 32) !important;
  }

  /* Full-width textarea */
  .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
  }

  /* When the textarea gets focus, do something */
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }

  /* Set a style for the submit/send button */
  .form-container .btn {
    background-color: #04AA6D;
    color: grey;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }

  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }

  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
