@import url('https://fonts.googleapis.com/css2?family=Actor&family=Khula:wght@300&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body {
    background: #121212;
    font-family: 'Actor', sans-serif;
}

/* small res */

a {
    text-decoration: none;
    color: rgb(230, 229, 241);
    font-size: smaller;
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.logo {
    font-size: 1.2rem;
    color: aqua;
    padding-left: 20px;
}

.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 3px;
    margin-bottom: 10px;
    background-color: rgb(230, 229, 241);
}

.nav__link {
    position: fixed;
    width: 94%;
    top: 5rem;
    left: 18px;
    background-color: grey;
    z-index: 2000;
}

.nav__link a {
    display: block;
    text-align: center;
    padding: 10px 0;
}

.hide {
    display: none;
}

/* large res */
@media screen and (min-width: 768px) {
    .nav__link {
        display: block;
        position: static;
        width: auto;
        margin-right: 20px;
        background: none;
    }

    .nav__link a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
    }
}

#search {

    width: 15px;
    height: auto;
}

/* .navbar form {
    float: left;
    margin-top: 10px;
    margin-right: 16px;
}*/

.navbar input[type=text] {
    padding: 3px;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
}

.navbar button {
    cursor: pointer;
}

/* ----------------------------------------------- */
/* content */
.main-heading {
    color: #66fcf1;
    padding: 2rem 0 2rem 0;
    text-transform: uppercase;
    font-weight: bolder;
    position: relative;
    text-align: center;
    font-size: 1.8rem;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 1.7em;
    color: #45a29e;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.input {
    margin: 10px;
    margin-bottom: 20px;
    padding: 3px;
    font-size: smaller;
    width:40%;
    height: 25px;
}

#btn {
    background-color: #45a29e;
    padding: 6px;
    border-radius: 7px;
    border: #45a29e solid 2px;
    margin: 2px;
}

#links {
    margin:5px;
    color: rgb(230, 229, 241);
}
/* ----------------------------------------------- */
/* footer */
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
footer p {
    color:#66fcf1;
    font-size: 10px;
}
